.form{
  & label{
    font-size: 20px;
    color: white;
  }
  & input{
    width: 50px;
    border-radius: 8px;
    text-align: center;
  }
  & .input-container{
    margin-bottom:20px;
    width: 100%;
  }

}